/* CSS declarations go here */
#site-title {
	margin: 20px auto 20px;
	font-size: 60px;
	font-weight: 600;
	font-family: "Playball";
	color: rgba(165, 59, 59, 1);
}

#site-nav {
	margin-bottom: 10px;
}

#site-nav .fa-stack {
	cursor: pointer;
}

#pref-pane {
	margin-bottom: 10px;
}

#pref-pane .fa-times {
	cursor: pointer;
}

#bg-bottom {
	height: 150px;
	margin: 20px auto 0;
}

#main-container {
	height: 350px;
	max-width: 100%;
}